extends layout

block content
  h1#myTitle= title
  p Colt Tyler Wilson
        for dataObject in datalist
            p #{dataObject.text}
            script(type='text/javascript').                                                  
                var local_text = !{JSON.stringify(dataObject.shape)}; 
                var local_size = !{JSON.stringify(dataObject.size)}; 
                var local_color = !{JSON.stringify(dataObject.color)};
                var list = !{JSON.stringify(datalist)};
  canvas#myCanvas0(width='850', height='600')
  canvas#myCanvas1(width='850', height='600')
  canvas#myCanvas2(width='850', height='600')
  canvas#myCanvas3(width='850', height='600')
  canvas#myCanvas4(width='850', height='600')
  canvas#myCanvas5(width='850', height='600')
  canvas#myCanvas6(width='850', height='600')
  canvas#myCanvas7(width='850', height='600')
  canvas#myCanvas8(width='850', height='600')
  script(type='text/javascript', src='javascripts/trumpCanvas0.js')
  script(type='text/javascript', src='javascripts/trumpCanvas1.js') 
  script(type='text/javascript', src='javascripts/trumpCanvas2.js') 
  script(type='text/javascript', src='javascripts/trumpCanvas3.js') 
  script(type='text/javascript', src='javascripts/trumpCanvas4.js') 
  script(type='text/javascript', src='javascripts/trumpCanvas5.js') 
  script(type='text/javascript', src='javascripts/trumpCanvas6.js') 
  script(type='text/javascript', src='javascripts/trumpCanvas7.js') 
  script(type='text/javascript', src='javascripts/trumpCanvas8.js') 